package {{.Package}}

import (
    "strings"

    "github.com/DIMO-Network/model-garage/pkg/tesla/telemetry/unit"
	"github.com/teslamotors/fleet-telemetry/protos"
)

{{range .Conversions}}
{{- $teslaField := .TeslaField}}
{{- $goInputType := .GoInputType}}
{{- range .VSSSignals}}
// Convert{{$teslaField}}To{{.GoVSSName}} converts a telemetry datum with key {{$teslaField}} to the VSS signal {{.GoVSSName}}.
func Convert{{$teslaField}}To{{.GoVSSName}}(val {{$goInputType}}) ({{.GoOutputType}}, error)
    {{- if .Body -}}
    {{- .Body -}}
    {{- else -}}
    {
    {{- if eq $goInputType .GoOutputType}}
    return val, nil
    {{- else}}
    panic("not implemented")
    {{- end}}
    }
    {{- end}}
{{end}}
{{end}}
